<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Microsoft.ServiceBus.ConnectionString" value="Endpoint=sb://us3409413w1.ey.net/ServiceBusDefaultNamespace;StsEndpoint=https://us3409413w1.ey.net:9355/ServiceBusDefaultNamespace;RuntimePort=9354;ManagementPort=9355;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=X0zj/r+W47ZN74DkJPqwqUTLZ+IvdGKvuqG0Sf7KYmw=" />
    <!--
    <add key="Microsoft.ServiceBus.ConnectionString" value="Endpoint=sb://defravmdrtfsb03.eydev.net/atf-dev-servicebusnamespace,sb://defravmdrtfsb04.eydev.net/atf-dev-servicebusnamespace,sb://defravmdrtfcl03.eydev.net/atf-dev-servicebusnamespace;StsEndpoint=https://defravmdrtfsb03.eydev.net:9355/atf-dev-servicebusnamespace,https://defravmdrtfsb04.eydev.net:9355/atf-dev-servicebusnamespace,https://defravmdrtfcl03.eydev.net:9355/atf-dev-servicebusnamespace;RuntimePort=9354;ManagementPort=9355;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=QN+5yLC8HJ2C+xdSXSdZpSaRFSHhEYJc80MYWjexNDI=" />
    <add key="Microsoft.ServiceBus.ConnectionString" value="Endpoint=sb://us3409413w1.ey.net/AbdulRehman;StsEndpoint=https://us3409413w1.ey.net:9355/AbdulRehman;RuntimePort=9354;ManagementPort=9355" />
    <add key="Microsoft.ServiceBus.ConnectionString" value="Endpoint=sb://defravmqrtfsb01.eyqa.net/atf-qaint1-servicebusnamespace,sb://defravmqrtfsb02.eyqa.net/atf-qaint1-servicebusnamespace,sb://defravmqrtfsb03.eyqa.net/atf-qaint1-servicebusnamespace;StsEndpoint=https://defravmqrtfsb01.eyqa.net:9355/atf-qaint1-servicebusnamespace,https://defravmqrtfsb02.eyqa.net:9355/atf-qaint1-servicebusnamespace,https://defravmqrtfsb03.eyqa.net:9355/atf-qaint1-servicebusnamespace;RuntimePort=9354;ManagementPort=9355;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=Q2AsImKfMuOgvltg0t9UNnRr/Qh7+9gI3XSEkXX3Wkk=" />
    <add key="Microsoft.ServiceBus.ConnectionString" value="Endpoint=sb://defravmdatfap18.eydev.net/atf-dev-servicebusnamespace;StsEndpoint=https://defravmdatfap18.eydev.net:9355/atf-dev-servicebusnamespace;RuntimePort=9354;ManagementPort=9355;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=9/aol6Zv9kHQAYRbKZYDZ4fMcrRSF6XjFIbrK8BntoI=" />    
    <add key="Microsoft.ServiceBus.ConnectionString" value="Endpoint=sb://us3409413w1.ey.net/AbdulRehman;StsEndpoint=https://us3409413w1.ey.net:9355/AbdulRehman;RuntimePort=9354;ManagementPort=9355" />
    <add key="Microsoft.ServiceBus.ConnectionString" value="Endpoint=sb://us3409413w1.ey.net/ServiceBusDefaultNamespace;StsEndpoint=https://us3409413w1.ey.net:9355/ServiceBusDefaultNamespace;RuntimePort=9354;ManagementPort=9355;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=ZnvGrj0qC+OKWJs8gEJMaTt1G6F1q8QHH0mBy2KWPpY=" />
    <add key="Microsoft.ServiceBus.ConnectionString" value="Endpoint=sb://defravmdatfap18.eydev.net/atf-devint-servicebusnamespace;StsEndpoint=https://defravmdatfap18.eydev.net:9355/atf-devint-servicebusnamespace;RuntimePort=9354;ManagementPort=9355;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=U5xV7THIAIfoS20W5zHzp+qRk2dKbDrsegWGlqyo5QU=" />
    <add key="Microsoft.ServiceBus.ConnectionString" value="Endpoint=sb://defravmdatfap18.eydev.net/atf-support-servicebusnamespace;StsEndpoint=https://defravmdatfap18.eydev.net:9355/atf-support-servicebusnamespace;RuntimePort=9354;ManagementPort=9355;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=8JAEf9BPXdtT9d3oa6nzlHmu2NwuwgVYOScpwFfP/B0=" />    
    <add key="Microsoft.ServiceBus.ConnectionString" value="Endpoint=sb://defravmdatfap18.eydev.net/atf-service-servicebusnamespace;StsEndpoint=https://defravmdatfap18.eydev.net:9355/atf-service-servicebusnamespace;RuntimePort=9354;ManagementPort=9355;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=ZA5eL86FySQ8fd4K8OF+PIfqu0TqCJ38peqlIoiftAU=" />
    <add key="Microsoft.ServiceBus.ConnectionString" value="Endpoint=sb://defravmdatfap18.eydev.net/atf-QaInt1-servicebusnamespace;StsEndpoint=https://defravmdatfap18.eydev.net:9355/atf-QaInt1-servicebusnamespace;RuntimePort=9354;ManagementPort=9355;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=fVC6fNraZtkKWic80XR0ZLgJTOuTJWzyq2zG1PC40TA=" />    
    <add key="Microsoft.ServiceBus.ConnectionString" value="Endpoint=sb://defravmdatfap18.eydev.net/atf-QaInt2-servicebusnamespace;StsEndpoint=https://defravmdatfap18.eydev.net:9355/atf-QaInt2-servicebusnamespace;RuntimePort=9354;ManagementPort=9355;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=sSe9ZjZFaDLJLfINMpji6qGqFmx1KAw2dpgL9jXn+YU=" />
    -->
  </appSettings>
  <system.serviceModel>
    <extensions>
      <!-- In this extension section we are introducing all known service bus extensions. User can remove the ones they don't need. -->
      <behaviorExtensions>
        <add name="connectionStatusBehavior" type="Microsoft.ServiceBus.Configuration.ConnectionStatusElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add name="transportClientEndpointBehavior" type="Microsoft.ServiceBus.Configuration.TransportClientEndpointBehaviorElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add name="serviceRegistrySettings" type="Microsoft.ServiceBus.Configuration.ServiceRegistrySettingsElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </behaviorExtensions>
      <bindingElementExtensions>
        <add name="netMessagingTransport" type="Microsoft.ServiceBus.Messaging.Configuration.NetMessagingTransportExtensionElement, Microsoft.ServiceBus,  Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add name="tcpRelayTransport" type="Microsoft.ServiceBus.Configuration.TcpRelayTransportElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add name="httpRelayTransport" type="Microsoft.ServiceBus.Configuration.HttpRelayTransportElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add name="httpsRelayTransport" type="Microsoft.ServiceBus.Configuration.HttpsRelayTransportElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add name="onewayRelayTransport" type="Microsoft.ServiceBus.Configuration.RelayedOnewayTransportElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </bindingElementExtensions>
      <bindingExtensions>
        <add name="basicHttpRelayBinding" type="Microsoft.ServiceBus.Configuration.BasicHttpRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add name="webHttpRelayBinding" type="Microsoft.ServiceBus.Configuration.WebHttpRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add name="ws2007HttpRelayBinding" type="Microsoft.ServiceBus.Configuration.WS2007HttpRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add name="netTcpRelayBinding" type="Microsoft.ServiceBus.Configuration.NetTcpRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add name="netOnewayRelayBinding" type="Microsoft.ServiceBus.Configuration.NetOnewayRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add name="netEventRelayBinding" type="Microsoft.ServiceBus.Configuration.NetEventRelayBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add name="netMessagingBinding" type="Microsoft.ServiceBus.Messaging.Configuration.NetMessagingBindingCollectionElement, Microsoft.ServiceBus, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </bindingExtensions>
    </extensions>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
</configuration>
